[user]
        name = Jonathan SIMONNEY
        email = jonathan.simonney@polyconseil.fr
[core]
        longpaths = true
        editor = vim
[alias]
        st = status
        go = checkout
        br = branch
